@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sohne";
  font-style: normal;
  src: local("sohne"),
    url(/assets/styles/fonts/Sohne-Kraftig.woff) format("woff");
}

:root {
  font-family: sohne, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --app-height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
}

/* button {
  position: relative;
}

#button::after {
  content: "";

  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 120px;
  background-color: transparent;
  display: inherit;
} */

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  position: fixed;
  /* -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); */
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.5s;
}
